/* CSS Document */
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #000000;
}
body {
	background-color: #FFFFFF;
}
.Naslov {
	font-size: xx-large;
	font-weight: bolder;
	color: #000000;
}
.heading1 
{
	font-size:large;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
}
.navLine 
{
	display:block;
	background-color:Black;
	width:100%;
	color:White;
	font-weight:bold;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.footer 
{
	font-size:smaller;
	text-align:right;
}
.navLeft
{
	float:left;
	padding-left:10px;
	background-color:Black;
	display:block;
	width:250px;
	height:100%;
	color:White;
	font-size:small;
}
.navLeft a:link,.navLeft a:visited 
{
	color:White;
	text-decoration:none;
}
.navLeft a:hover
{
	text-decoration:underline;
}
.content 
{
	padding-left:270px;
}
